@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper {
    width: 100%;
    height: auto;
    padding: 16px;

    .doc {

        .page {
            display: grid;
            grid-auto-columns: 1fr 1fr;
            grid-auto-rows: 1fr;

            grid-template-rows: 24px 1fr 24px;
            gap: 0px 0px;
            justify-content: stretch;
            align-content: stretch;
            justify-items: stretch;
            align-items: stretch;

            width: 16.5in;
            height: 11.7in;
            margin: 1cm;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgb(0 0 0 / 10%);
            padding: 1cm;

            .headerPage {
                grid-area: 1 / 1 / 2 / 2;
                height: 24px;
                border-bottom: 1px solid #333;
                font-size: 0.8em;
                line-height: 24px;
            }

            .subPage {
                grid-area: 2 / 1 / 3 / 2;

                p {
                    padding: 21px 0 8px;
                    margin: 0;

                    span {
                        margin-right: 200px;
                    }
                }

                .type_one {
                    border-collapse: collapse;
                    border: 2px solid #000;

                    thead {
                        background-color: #000;
                        color: #fff;

                        tr {
                            th {
                                &:nth-child(2n) {
                                    border-left: 1px solid #FFF;
                                    border-right: 1px solid #FFF;
                                }
                            }

                            .title {
                                font-size: 10px;
                                font-weight: 300;
                                text-align: center;
                            }

                            .subtitle {
                                width: auto;
                                height: 90px;
                                vertical-align: bottom;
                                padding-bottom: 8px;
                                font-size: 10px;
                                font-weight: 300;

                                .vertical {
                                    display: block;
                                    margin: auto 0;
                                    -webkit-transform: rotate(-90deg);
                                    transform: rotate(-90deg);
                                    white-space: nowrap;
                                    max-width: 15px;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            border: 1px solid;

                            td {
                                min-width: 20px;
                                height: 30px;
                                border: 1px solid #000;
                                text-align: center;
                            }

                            th {
                                min-width: 20px;
                                border: 1px solid #FFF;
                            }

                            .nvcr {
                                border-right: 1px solid #000
                            }

                            .ctyp1 {
                                width: 100px;
                            }
                        }
                    }

                }

                .type_two {
                    border-collapse: collapse;
                    border: 2px solid #000;

                    thead {
                        background-color: #000;
                        color: #fff;

                        tr {
                            th {
                                &:nth-child(2n) {
                                    border-left: 1px solid #FFF;
                                    border-right: 1px solid #FFF;
                                }
                            }

                            .title {
                                font-size: 12px;
                                text-align: center;
                            }

                            .subtitle {
                                width: auto;
                                min-height: 90px;
                                vertical-align: bottom;
                                padding-bottom: 8px;
                                font-size: 10px;
                            }

                            .date {
                                min-width: 90px !important;
                            }

                            .comments {
                                min-width: 200px;
                            }
                        }
                    }

                    tbody {
                        tr {
                            border: 1px solid;

                            td {
                                min-width: 20px;
                                height: 30px;
                                border: 1px solid #000;
                                text-align: center;
                            }

                            th {
                                min-width: 20px;
                                border: 1px solid #FFF;
                            }

                            .nvcr {
                                border-right: 1px solid #000
                            }

                            .ctyp1 {
                                width: 100px;
                            }
                        }
                    }

                }

                .verticalTableHeader {
                    text-align: center;
                    white-space: nowrap;
                    transform-origin: 50% 50%;
                    transform: rotate(-90deg);

                    &::before {
                        content: '';
                        padding-top: 140%;
                        /* takes width as reference, + 10% for faking some extra padding */
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .card1 {
                    float: left;
                    padding: 8px;
                    margin: 4px 8px 2px 0;
                    border: 2px solid #000;

                    table {
                        border: 1px solid #FFF;

                        tbody {
                            tr {
                                border: 1px solid;

                                td {
                                    border: 1px solid #FFF;
                                    text-align: left;
                                    padding: 0 8px 0 0;
                                    font-size: 10px;
                                    height: 20px;
                                }

                            }
                        }
                    }

                    .title {
                        width: 100%;
                        height: auto;
                        font-size: 12px;
                        font-weight: 600;
                    }

                    .cont {
                        float: left;
                        margin-right: 8px;
                    }
                }

                .card2,
                .card3,
                .card4,
                .card5,
                .card6 {
                    float: left;
                    padding: 8px;
                    margin: 0px 8px 8px 0;

                    p {
                        text-align: left;
                        padding: 0 8px 0 0;
                        font-size: 10px;
                    }

                    .title {
                        width: 100%;
                        height: auto;
                        font-size: 10px;
                        font-weight: 600;
                        margin-bottom: 2px;
                    }

                }

                .card2 {
                    width: 15%;
                }

                .card3 {
                    width: 23%;
                }

                .card4 {
                    width: 18%;
                }

                .card5 {
                    width: 18%;
                }

                .card6 {
                    width: 15%;
                }
            }

            .bottomPage {
                grid-area: 3 / 1 / 4 / 2;
                height: 24px;
                border-top: 1px solid #333;
                font-size: 0.8em;
                line-height: 24px;

                div {
                    &:nth-child(1) {
                        float: left;
                    }

                    &:nth-child(2) {
                        float: right;
                    }
                }
            }
        }
    }

    .btn-primary {
        box-shadow: inset 0px -3px 7px 0px #29bbff;
        background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
        background-color: #2dabf9;
        border-radius: 3px;
        border: 1px solid #0b0e07;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 9px 23px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #263666;
        margin: 0 45%;


        .myButton:hover {
            background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
            background-color: #0688fa;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
    }
}

@media print {

        .doc {
            .page {
                display: grid;
                grid-auto-columns: 1fr 1fr;
                grid-auto-rows: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: 24px 1fr 24px;
                gap: 0px 0px;
                justify-content: stretch;
                align-content: stretch;
                justify-items: stretch;
                align-items: stretch;

                size: A3 landscape;
                margin: 0;
                border: none;
                border-radius: 5px;
                background: white;
                box-shadow: none;
                padding: 0.5cm 1cm;

                .headerPage {
                    grid-area: 1 / 1 / 2 / 2;
                    height: 24px;
                    border-bottom: 1px solid #333;
                    font-size: 0.8em;
                    line-height: 24px;
                }

                .subPage {
                    grid-area: 2 / 1 / 3 / 2;

                    p {
                        padding: 21px 0 8px;
                        margin: 0;

                        span {
                            margin-right: 200px;
                        }
                    }

                    .type_one {
                        border-collapse: collapse;
                        border: 2px solid #000;

                        thead {
                            background-color: #000;
                            color: #fff;

                            tr {
                                th {
                                    &:nth-child(2n) {
                                        border-left: 1px solid #FFF;
                                        border-right: 1px solid #FFF;
                                    }
                                }

                                .title {
                                    font-size: 10px;
                                    font-weight: 300;
                                    text-align: center;
                                }

                                .subtitle {
                                    width: auto;
                                    height: 90px;
                                    vertical-align: bottom;
                                    padding-bottom: 8px;
                                    font-size: 10px;
                                    font-weight: 300;

                                    .vertical {
                                        display: block;
                                        margin: auto 0;
                                        -webkit-transform: rotate(-90deg);
                                        transform: rotate(-90deg);
                                        white-space: nowrap;
                                        max-width: 15px;
                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                border: 1px solid;

                                td {
                                    min-width: 20px;
                                    height: 30px;
                                    border: 1px solid #000;
                                    text-align: center;
                                }

                                th {
                                    min-width: 20px;
                                    border: 1px solid #FFF;
                                }

                                .nvcr {
                                    border-right: 1px solid #000
                                }

                                .ctyp1 {
                                    width: 100px;
                                }
                            }
                        }

                    }

                    .type_two {
                        border-collapse: collapse;
                        border: 2px solid #000;

                        thead {
                            background-color: #000;
                            color: #fff;

                            tr {
                                th {
                                    &:nth-child(2n) {
                                        border-left: 1px solid #FFF;
                                        border-right: 1px solid #FFF;
                                    }
                                }

                                .title {
                                    font-size: 12px;
                                    text-align: center;
                                }

                                .subtitle {
                                    width: auto;
                                    min-height: 90px;
                                    vertical-align: bottom;
                                    padding-bottom: 8px;
                                    font-size: 10px;
                                }

                                .date {
                                    min-width: 90px !important;
                                }

                                .comments {
                                    min-width: 200px;
                                }
                            }
                        }

                        tbody {
                            tr {
                                border: 1px solid;

                                td {
                                    min-width: 20px;
                                    height: 30px;
                                    border: 1px solid #000;
                                    text-align: center;
                                }

                                th {
                                    min-width: 20px;
                                    border: 1px solid #FFF;
                                }

                                .nvcr {
                                    border-right: 1px solid #000
                                }

                                .ctyp1 {
                                    width: 100px;
                                }
                            }
                        }

                    }

                    .verticalTableHeader {
                        text-align: center;
                        white-space: nowrap;
                        transform-origin: 50% 50%;
                        transform: rotate(-90deg);

                        &::before {
                            content: '';
                            padding-top: 140%;
                            /* takes width as reference, + 10% for faking some extra padding */
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }

                    .card1 {
                        float: left;
                        padding: 8px;
                        margin: 4px 8px 8px 0;
                        border: 2px solid #000;

                        table {
                            border: 1px solid #FFF;

                            tbody {
                                tr {
                                    border: 1px solid;

                                    td {
                                        border: 1px solid #FFF;
                                        text-align: left;
                                        padding: 0 8px 0 0;
                                        font-size: 10px;
                                        height: 20px;
                                    }

                                }
                            }
                        }

                        .title {
                            width: 100%;
                            height: auto;
                            font-size: 12px;
                            font-weight: 600;
                        }

                        .cont {
                            float: left;
                            margin-right: 8px;
                        }
                    }

                    .card2,
                    .card3,
                    .card4,
                    .card5,
                    .card6 {
                        float: left;
                        padding: 0 8px;
                        margin: 0px 8px;

                        p {
                            text-align: left;
                            padding: 0 8px 0 0;
                            font-size: 10px;
                        }

                        .title {
                            width: 100%;
                            height: auto;
                            font-size: 10px;
                            font-weight: 600;
                            margin-bottom: 2px;
                        }

                    }

                    .card2 {
                        width: 15%;
                    }

                    .card3 {
                        width: 23%;
                    }

                    .card4 {
                        width: 18%;
                    }

                    .card5 {
                        width: 18%;
                    }

                    .card6 {
                        width: 15%;
                    }
                }

                .bottomPage {
                    grid-area: 3 / 1 / 4 / 2;
                    height: 24px;
                    border-top: 1px solid #333;
                    font-size: 0.8em;
                    line-height: 24px;

                    div {
                        &:nth-child(1) {
                            float: left;
                        }

                        &:nth-child(2) {
                            float: right;
                        }
                    }
                }
            }
        }
    }
